<h1>Update Recipient Information</h1>

<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
    	<h2 class="panel-title">
    		<%= @recipient.first_name+" "+@recipient.last_name%>
  		</h2>
    </div>
    <div class="panel-body">
      <%= yield %>
      <%= render 'form' %>
    </div>
  </div>
</div>
