<div class="jumbotron">
	<h1>Food Bank</h1>
	<p>
		Food Bank Tracking App
	</p>
	<p>
	<%= link_to "New Recipient", new_recipient_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "Existing Recipient", recipients_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
<div class="#">

</div>