<tr>
  <td><%= contact.date %></td>
  <td><%= contact.action %></td>
  <td><%= contact.note %></td>
  <td><%= link_to 'Edit', edit_recipient_contact_path(@recipient, contact), class: "btn btn-primary" %></td>
</tr>